.sidebarTitle {
    -fx-background-color: #121212;
    -fx-text-fill: white;
}

.sidebar {
    -fx-background-color: #121212;
}

.button {
    -fx-background-color: transparent;
}

.controlIcon:hover {
    -fx-fill: #ffff;
    -fx-font-size: 25;
}
